html {
    background: rgb(245, 245, 245);
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

.header__wrapper {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    background: rgb(209, 94, 108);
}
.header__logo {
    margin-right: 1rem;
    margin-left: 1rem;
}
.header__menu {
    word-spacing: 30px;
    display: flex;
}

.header__link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    flex-basis:auto;
}

.header__link:hover {
    background: rgb(129, 5, 20);
    
}